@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Montserrat';
  font-weight: 200;
  background-color: #171717;
}

body {
  background-color: #171717;
  color: #f1f1f1;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
}

.dark-theme {
  background-color: #171717;
  color: #f1f1f1;
}

input {
  background-color: #171717;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 24px;
  padding: 4px 4px 4px 10px;
  margin: 2px !important;
}

#user_img_input {
  border: none;
  padding: 4px;
}

button {
  border-radius: 24px !important;
  padding: 4px 2px;
  margin: 2px !important;
}

.btn-accent {
  background-color: #1491F7;
  color: #f1f1f1;
  border: none;
}

.btn-black {
  background-color: #171717;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffe9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abac8e;
}

.nav-link {
  color: #f1f1f1 !important;
}

.navbar {
  background-color: #131313;
}

.nav-link {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.album-card {
  background-color: #131313;
  border-radius: 24px;
  width: 90dvw;
  padding: 13px 25px 25px 25px;
}

.album-card-image {
  border-radius: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 400px;
}

.circle {
  border-radius: 9999px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.text-gray {
  color: #ababab
}

.w-screen {
  width: 100dvw;
}

.start-5 {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.album-tag {
  background-color: #f1f1f1;
  color: #131313;
  border-radius: 999px;
  text-align: center;
  padding: 4px 8px;
  margin: 6px 6px 6px 0px;
  font-size: 12px;
  font-weight: 500;
}

.album-cards-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.album-cards-gallery::-webkit-scrollbar {
  display: none;
}


.album-card-container {
  min-width: 100dvw;
  scroll-snap-align: start end;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background-color: #ababab;
  border-radius: 50%;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.dot.active {
  transform: scale(1.5);
  background-color: #f1f1f1;
}